{%
  set body_classes = [
    logged_in ? 'user-logged-in',
    not root_path ? 'path-frontpage' : 'path-' ~ root_path|clean_class,
    node_type ? 'node--type-' ~ node_type|clean_class,
    db_offline ? 'db-offline',
  ]
%}
<!DOCTYPE html>
<html{{ html_attributes }}>
  <head>
    <head-placeholder token="{{ placeholder_token|raw }}">
    <title>{{ head_title|safe_join(' | ') }}</title>
    <css-placeholder token="{{ placeholder_token|raw }}">
    <js-placeholder token="{{ placeholder_token|raw }}">
  </head>
  <body{{ attributes.addClass(body_classes) }}>


<menu>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="logga" href="https://www.svgrepo.com/show/530233/weather.svg">
      <img src="https://www.svgrepo.com/show/530233/weather.svg" alt="SARK_logga" width="80" height="60">
    </a>

    {{ drupal_menu('main') }}
  </div>
</nav>
</menu>
    {{ drupal_entity('node', 10) }}
    <footer>{{ drupal_menu('footer') }}</footer>
    {{ page_bottom }}



    </body>
</html>
